:root {
    --primary: #38ef7d;
    --secondary: #11998e;
    --accent: #6B778D;
    --highlight: --primary;
    --primary-text: #fff;
    --secondary-text: #9b9b9b;
    --shadow-color: rgba(0, 0, 0, .25);
}

.grid {
    color: var(--primary-text);
    background-color: var(--secondary);
    text-align: center;
    max-width: 75vw;
    margin: 30px auto;
    padding: 0 20px;
    width: 100%;
    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: 300px;
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    border: 1px solid var(--secondary-text);
}

.flower-card {
    -webkit-box-shadow: 0 10px 6px -6px var(--shadow-color);
    -moz-box-shadow: 0 10px 6px -6px var(--shadow-color);
    box-shadow: 0 10px 6px -6px var(--shadow-color);
    border: 1px solid transparent;
    transition: border 0.3s, box-shadow 0.2s;
}

.flower-card:hover {
    border: 1px solid var(--highlight);
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.3);
}


